/* Text */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Anton", sans-serif;
}
p {
  font-family: "Jura", sans-serif;
}
.leader {
  color: #000;
}
.sectionHead {
    padding: 15PX
}

/* Navigation bar */

/* General */
.customNav {
  position: fixed;
  width: 100%;
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
  z-index: 10;
}
.navbar-nav {
  margin-left: auto;
  margin-right: 0 !important;
}
.navbar-brand img {
  padding-right: 15px;
  width: 65px;
}
.nav-item {
  margin: 0px 15px;
}
.nav-link {
  font-size: 20px;
  color: white !important;
}
.myImage {
  width: 100%;
  border-radius: 50%;
}

/* Navigation dropdown menu */
.dropdown-menu {
  background: url("../images/transparency.png");
  background-color: transparent !important;
  background-size: cover;
}
.dropdown-item:focus,
.dropdown-item:hover {
  color: #16181b;
  text-decoration: none;
  background: black;
}

/* Navigation links */
.customNav a {
  color: white !important;
}
.navCTA {
  font-size: 15px;
}

/* Jumbotron */
.testing {
  background: url("../images/software-testing-op50.png");
  background-size: cover;
  background-repeat: no-repeat;
  height: calc(100vh - 25px);
  display: flex;
  align-items: center;
  justify-content: center;
}
.jumboCopy {
  width: 70%;
  min-width: 500px;
  max-width: 700px;
  color: white;
  text-align: center;
}

/* Resume Section */

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
  overflow-x: scroll;
  white-space: nowrap;
}

.grid-item {
  display: inline-block;
  width: 300px;
  height: 400px;
  background-color: #ffffff;
  margin-right: 20px;
}
.getacopy {
    padding-top: 50px;
    text-align: center;
}

a {
    text-decoration: none;
    color: black !important;
    font-family: "Jura", sans-serif;
}
a:hover {
    text-decoration: underline;
}
/* End Resume Section */

/* STYLES FOR TEMPLATE PLEASE DO NOT TOUCH*/
.dropdown-menu {
  left: -97px;
}
footer {
  position: absolute;
  width: 100%;
  height: 60px;
  line-height: 60px;
  background-color: #f5f5f5;
  margin-top: 50px;
}
.cardContainer {
  margin-top: 20px;
}
.card {
  margin: 0 auto;
}
